@{
    ViewBag.Title = "About";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<p class="lead">Move beyond the base template with a few example layouts. 
    We encourage folks to iterate on these examples and not simply use them as an end result.</p>

<div class="span5">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="img-circle" src="~/Content/images/Hero.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>Barebones sign in form with custom, larger form controls and a flexible layout.</p>
        </div>
    </div>
</div>
<div class="span5">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="img-circle" src="~/Content/images/Hero.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>Barebones sign in form with custom, larger form controls and a flexible layout.</p>
        </div>
    </div>
</div>
<div class="span5">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="img-circle" src="~/Content/images/Hero.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>Barebones sign in form with custom, larger form controls and a flexible layout.</p>
        </div>
    </div>
</div>

<div class="span5">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="img-circle" src="~/Content/images/Hero.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>Barebones sign in form with custom, larger form controls and a flexible layout.</p>
        </div>
    </div>
</div>
<div class="span5">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="img-circle" src="~/Content/images/Hero.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>Barebones sign in form with custom, larger form controls and a flexible layout.</p>
        </div>
    </div>
</div>
<div class="span5">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="img-circle" src="~/Content/images/Hero.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>Barebones sign in form with custom, larger form controls and a flexible layout.</p>
        </div>
    </div>
</div>
