@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Welcome <small>to Visitor's Registration</small></h1>
    <article>
        <section>
            This site is dedicated to Registering Visitors <span class="danger">Online</span> for the following visits :
        </section>
    </article>
    <ul>
        <li>Campus Visits
        </li>
        <li>Official Visits
        </li>
        <li>Holiday Visits
        </li>
        <li>Ecc Stay
        </li>
    </ul>
    <p><a class="btn btn-warning btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div id="myCarousel" class="span3 carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        <li data-target="#myCarousel" data-slide-to="4" class=""></li>
        <li data-target="#myCarousel" data-slide-to="5" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <img class="first-slide" src="~/Content/images/phase2_01.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
             @* <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>*@
            </div>
          </div>
        </div>
        <div class="item active left">
          <img class="second-slide" src="~/Content/images/phase2_02.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              @*<h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            *@</div>
          </div>
        </div>
        <div class="item next left">
          <img class="third-slide" src="~/Content/images/phase2_03.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              @*<h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            *@</div>
          </div>
        </div>
          <div class="item next left">
          <img class="third-slide" src="~/Content/images/phase2_04.jpg" alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption">
              @*<h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            *@</div>
          </div>
        </div>
          <div class="item next left">
          <img class="third-slide" src="~/Content/images/phase2_05.jpg" alt="Fifth slide">
          <div class="container">
            <div class="carousel-caption">
              @*<h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            *@</div>
          </div>
        </div>
          <div class="item next left">
          <img class="third-slide" src="~/Content/images/phase2_06.jpg" alt="Sixth slide">
          <div class="container">
            <div class="carousel-caption">
              @*<h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            *@</div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>




