@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Pune:</span>
        <span>9604 4686 67</span>
    </p>
    <p>
        <span class="label">Hyderabad:</span>
        <span>8187 0303 88</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Gmail:</span>
        <span><a href="mailto:sarfarazit08@gmail.com">sarfarazit08@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Yahoo:</span>
        <span><a href="mailto:sarfaraz_nesar@yahoo.com">sarfaraz_nesar@yahoo.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        <span class="label">Present Address:</span>
        B4 - 504, Edenn Towers,<br />
        Near Datta Mandi, Wakad, Pune - 411 057
    </p>
    <p>
        <span class="label">Permanent Address:</span>
        15/7, New Line,<br />
        Kamarhati, Kolkata - 700 058
    </p>
</section>
