<h1>Home</h1>
<div>
    Call me Sarfaraz or Sarfu! By Profession a Software Engineer who enjoys blogging, travelling, swimming, reading novels, rock
    music (Linkin Park and Eminem's) and work out some freaking awesome moves when it comes to dancing. Plays those dirty
    games too - football and volleyball in the muddy rain water which are absolute fun! Also a foodie who loves taste bud
    sizzlers – Domino’s pizzas, KFC chickens, Chinese noodles, fish fries and Mama’s made Aloo Prathe off-course!
</div>