<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHelloService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8085/HelloService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHelloService" contract="HelloServiceReference.IHelloService"
                name="BasicHttpBinding_IHelloService" />
            <endpoint address="net.tcp://localhost:8086/HelloService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IHelloService" contract="HelloServiceReference.IHelloService"
                name="NetTcpBinding_IHelloService">
                <identity>
                    <userPrincipalName value="Sarfu-PC\Sarfu" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
